<div id="message-box" class="container error <%= messages.error ? 'show' : 'hide' %>">
    <%= messages.error%>
</div>
<section id="features order px-12 py-12" class="features">
    <div class="container">

        <div class="section-title">
            <h2>Settings</h2>
            <p>Update to new informations</p>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <ul class="nav nav-tabs flex-column">
                    <li class="nav-item">
                        <a class="nav-link show active" data-toggle="tab" href="#tab-1">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab-2">Resource Urls</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab-3">Current Race</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab-4">Next Race</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab-5">Betting Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab-6">Race Information</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab-7">Odds</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9 mt-4 mt-lg-0">
                <div class="tab-content">
                    <div class="tab-pane show active" id="tab-1">
                        <div class="row">
                            <div class="col-lg-12 details order-2 order-lg-1" style="overflow-x: scroll;">
                                <h3>User Information</h3>
                                <div class="row action-area">
                                    <div class="col-lg-7">
                                        <label>Search:</label>
                                        <input id="user_filter" type="text" value="" placeholder="Input filter"/>
                                        <button id="user_find">Find</button>
                                        <label>Row:</label>
                                        <select id="user_perPage">
                                            <option value="10" <%= users.pageInfo.perPage == 10 ? 'selected':'' %>>10</option>
                                            <option value="20" <%= users.pageInfo.perPage == 20 ? 'selected':'' %>>20</option>
                                            <option value="50" <%= users.pageInfo.perPage == 50 ? 'selected':'' %>>50</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-5" id="user-pagination">
                                        <% if (Math.ceil(users.pageInfo.count / users.pageInfo.perPage) > 0) { %>
                                            <ul class="pagination text-center">
                                                <% if (users.pageInfo.curPage == 1) { %>
                                                    <li class="disabled">First</li>
                                                <% } else { %>
                                                    <li data-page="1">First</li>
                                                <% } %>
                                                <% var i = (Number(users.pageInfo.curPage) > 5 ? Number(users.pageInfo.curPage) - 4 : 1) %>
                                                <% if (i !== 1) { %>
                                                    <li class="disabled">...</li>
                                                <% } %>
                                                <% for (; i <= (Number(users.pageInfo.curPage) + 4) && i <= Math.ceil(users.pageInfo.count / users.pageInfo.perPage); i++) { %>
                                                    <% if (i == users.pageInfo.curPage) { %>
                                                        <li class="active"><%= i %></li>
                                                    <% } else { %>
                                                        <li data-page="<%= i %>"><%= i %></li>
                                                    <% } %>
                                                    <% if (i == Number(users.pageInfo.curPage) + 4 && i < Math.ceil(users.pageInfo.count / users.pageInfo.perPage)) { %>
                                                        <li class="disabled">...</li>
                                                    <% } %>
                                                <% } %>
                                                <% if (users.pageInfo.curPage == Math.ceil(users.pageInfo.count / users.pageInfo.perPage)) { %>
                                                    <li class="disabled">Last</li>
                                                <% } else { %>
                                                    <li data-page="<%= Math.ceil(users.pageInfo.count / users.pageInfo.perPage) %>">Last</li>
                                                <% } %>
                                            </ul>
                                        <% } %>
                                    </div>
                                </div>
                                <table class="w-full table-auto bg-white full-width">
                                    <thead>
                                        <tr>
                                            <th class="border usercell py-2 ">Name</th>
                                            <th class="border usercell py-2 ">Email</th>
                                            <th class="border usercell py-2 ">UserName</th>
                                            <th class="border usercell py-2 ">Company</th>
                                            <th class="border usercell py-2 ">IP</th>
                                            <th class="border usercell py-2 ">Access</th>
                                            <th class="border usercell py-2 ">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="user_table">
                                        <% for(var i=0; i<users.result.length; i++) { %>
                                            <tr class="<%= users.result[i].status ? 'online' : 'offline' %>">
                                                <td class="border usercell py-2">
                                                    <%= users.result[i].name %>
                                                </td>
                                                <td class="border usercell py-2">
                                                    <%= users.result[i].email %>
                                                </td>
                                                <td class="border usercell py-2">
                                                    <%= users.result[i].username %>
                                                </td>
                                                <td class="border usercell py-2">
                                                    <%= users.result[i].company %>
                                                </td>
                                                <td class="border usercell py-2">
                                                    <%= users.result[i].ipaddress %>
                                                </td>
                                                <td class="border usercell py-2" data-username="<%= users.result[i].username %>">
                                                    <div style="width: 92px;">
                                                        <input type="checkbox" name="cards" value="cards" <%= users.result[i].access.includes('cards')? 'checked':'' %>>
                                                        <label for="cards">Cards</label>
                                                    </div>
                                                    <div style="width: 92px;">
                                                        <input type="checkbox" name="odds" value="odds" <%= users.result[i].access.includes('odds')? 'checked':'' %>>
                                                        <label for="odds">Odds</label>
                                                    </div>
                                                    <div style="width: 92px;">
                                                        <input type="checkbox" name="tips" value="tips" <%= users.result[i].access.includes('tips')? 'checked':'' %>>
                                                        <label for="tips">Tips</label>
                                                    </div>
                                                    <div style="width: 92px;">
                                                        <input type="checkbox" name="next_race" value="next_race" <%= users.result[i].access.includes('next_race')? 'checked':'' %>>
                                                        <label for="next_race">Next Race</label>
                                                    </div>
                                                </td>
                                                <td class="border usercell py-2" data-username="<%= users.result[i].username %>">
                                                    <button type="button" class="User-Delete">Delete</button>
                                                </td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-2">
                        <div class="row">
                            <div class="col-lg-12 details order-2 order-lg-1 resource-block">
                                <h3>Live Stream URL:</h3>
                                <div class="row">
                                    <input id="stream_url" value="<%= resource['stream_url'] %>" type="text" class="col-md-8" placeholder="Stream URL">
                                    <button type="button" class="col-md-2" id="view_stream">View</button>
                                    <button type="button" class="col-md-2" id="stream_url_save">Save</button>
                                </div>
                                <div class="row">
                                    <iframe id="stream_preview" src="<%= resource['stream_url'] %>" width="100%" height="100%" frameborder="0" scrolling="no" allow="autoplay" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                            <div class="col-lg-12 details order-2 order-lg-1 resource-block">
                                <h3>Cards Information:</h3>
                                <div class="row">
                                    <div class="col-lg-12 details order-2 order-lg-1">
                                        <label class="col-lg-2">Card Title:</label>
                                        <input class="col-lg-7" id="card_title" type="text" value="<%= resource['card_title'] %>" placeholder="Card Title"/>
                                        <button type="button" class="col-lg-2" id="card_title_save">Save</button>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <!-- <form action="/admin/setting/pdf_upload" method="post" enctype="multipart/form-data"> -->
                                        <div class="col-lg-12 details order-2 order-lg-1">
                                            <label class="col-lg-4">Select PDF to upload:</label>
                                            <input class="col-lg-5" type="file" name="file" id="pdf_file" accept="application/pdf">
                                            <button class="col-lg-2" type="button" id="pdf_upload_button">Upload</button>
                                        </div>
                                    <!-- </form> -->
                                </div>
                            </div>
                            <div class="col-lg-12 details order-2 order-lg-1 resource-block">
                                <h3>Feedback Result:</h3>
                                <div class="row">
                                    <div class="col-lg-12 details order-2 order-lg-1">
                                        <label class="col-lg-3" for="live_feedback">Choose a live feeback:</label>
                                        <select class="col-lg-3" id="live_feedback" name="live_feedback">
                                            <option value="V_Sporting" <%= resource['feed_category'] == 'V_Sporting' ? 'selected':'' %>>V_Sporting</option>
                                            <option value="ClubHipico_Stgo" <%= resource['feed_category'] == 'ClubHipico_Stgo' ? 'selected':'' %>>ClubHipico_Stgo</option>
                                            <option value="CHCmediocamino" <%= resource['feed_category'] == 'CHCmediocamino' ? 'selected':'' %>>CHCmediocamino</option>
                                            <option value="hipodromo_chile" <%= resource['feed_category'] == 'hipodromo_chile' ? 'selected':'' %>>hipodromo_chile</option>
                                        </select>
                                        <button type="button" class="col-lg-2" id="live_feedback_save">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-3">
                        <div class="row">
                            <div class="col-lg-12 details order-2 order-lg-1">
                                <h3>Current Race Information</h3>
                                <div class="row action-area">
                                    <div class="col-lg-6">
                                        <label>Race Time:</label>
                                        <input id="cur_race_time" type="text" value="<%= resource['cur_race_time'] %>" placeholder="Race Time"/>
                                    </div>
                                    <div class="col-lg-6">
                                        <label>Race Name:</label>
                                        <input id="cur_race_name" type="text" value="<%= resource['cur_race_name'] %>" placeholder="Race Name"/>
                                    </div>
                                </div>
                                <table class="w-full table-auto bg-white full-width">
                                    <thead>
                                        <tr>
                                            <th class="border px-4 py-2 ">No</th>
                                            <th class="border px-4 py-2 ">Name</th>
                                            <th class="border px-4 py-2 ">SP</th>
                                            <th class="border px-4 py-2 ">Color</th>
                                            <th class="border px-4 py-2 ">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="cur_race_info_table">
                                        <% for(var i=0; i<curRaceData.length; i++) { %>
                                            <tr>
                                                <td class="border px-4 py-2 row_num">
                                                    <%= i+1 %>
                                                </td>
                                                <td class="border px-4 py-2">
                                                    <input class="info_name" name="name" type="text" value="<%= curRaceData[i].name %>" placeholder="Name"/>
                                                </td>
                                                <td class="border px-4 py-2">
                                                    <input class="info_sp" name="sp" type="text" value="<%= curRaceData[i].sp %>" placeholder="SP"/>
                                                </td>
                                                <td class="border px-4 py-2">
                                                    <select class="info_color">
                                                        <option class = "Color_None" value="Color_None" <%= curRaceData[i].color == 'Color_None' ? 'selected' : '' %>>None</option>
                                                        <option class = "Color_Blue" value="Color_Blue" <%= curRaceData[i].color == 'Color_Blue' ? 'selected' : '' %>>Blue</option>
                                                        <option class = "Color_Red" value="Color_Red" <%= curRaceData[i].color == 'Color_Red' ? 'selected' : '' %>>Red</option>
                                                      </select>
                                                </td>
                                                <td class="border px-4 py-2">
                                                    <button type="button" class="Cur-Race-Delete">Delete</button>
                                                </td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                                <div class="row action-area">
                                    <button class="offset-lg-3 col-lg-3" type="button" id="cur_race_info_clear">Clear</button>
                                    <button class="col-lg-3" type="button" id="cur_race_info_add">Add</button>
                                    <button class="col-lg-3" id="cur_race_info_save">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-4">
                        <div class="row">
                            <div class="col-lg-12 details order-2 order-lg-1">
                                <h3>Next Race Information</h3>
                                <div class="row action-area">
                                    <div class="col-lg-6">
                                        <label>Race Time:</label>
                                        <input id="next_race_time" type="text" value="<%= resource['next_race_time'] %>" placeholder="Race Time"/>
                                    </div>
                                    <div class="col-lg-6">
                                        <label>Race Name:</label>
                                        <input id="next_race_name" type="text" value="<%= resource['next_race_name'] %>" placeholder="Race Name"/>
                                    </div>
                                </div>
                                <table class="w-full table-auto bg-white full-width">
                                    <thead>
                                        <tr>
                                            <th class="border px-4 py-2 ">No</th>
                                            <th class="border px-4 py-2 ">Name</th>
                                            <th class="border px-4 py-2 ">SP</th>
                                            <th class="border px-4 py-2 ">Color</th>
                                            <th class="border px-4 py-2 ">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="next_race_info_table">
                                        <% for(var i=0; i<nextRaceData.length; i++) { %>
                                            <tr>
                                                <td class="border px-4 py-2 row_num">
                                                    <%= i+1 %>
                                                </td>
                                                <td class="border px-4 py-2">
                                                    <input class="info_name" name="name" type="text" value="<%= nextRaceData[i].name %>" placeholder="Name"/>
                                                </td>
                                                <td class="border px-4 py-2">
                                                    <input class="info_sp" name="sp" type="text" value="<%= nextRaceData[i].sp %>" placeholder="SP"/>
                                                </td>
                                                <td class="border px-4 py-2">
                                                    <select class="info_color">
                                                        <option class = "Color_None" value="Color_None" <%= nextRaceData[i].color == 'Color_None' ? 'selected' : '' %>>None</option>
                                                        <option class = "Color_Blue" value="Color_Blue" <%= nextRaceData[i].color == 'Color_Blue' ? 'selected' : '' %>>Blue</option>
                                                        <option class = "Color_Red" value="Color_Red" <%= nextRaceData[i].color == 'Color_Red' ? 'selected' : '' %>>Red</option>
                                                      </select>
                                                </td>
                                                <td class="border px-4 py-2">
                                                    <button type="button" class="Next-Race-Delete">Delete</button>
                                                </td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                                <div class="row action-area">
                                    <button class="col-lg-3" type="button" id="next_race_info_current">To Current</button>
                                    <button class="col-lg-3" type="button" id="next_race_info_clear">Clear</button>
                                    <button class="col-lg-3" type="button" id="next_race_info_add">Add</button>
                                    <button class="col-lg-3" id="next_race_info_save">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-5">
                        <div class="row">
                            <div class="col-lg-12 details order-2 order-lg-1">
                                <h3>Betting Information</h3>
                                <table class="w-full table-auto bg-white full-width">
                                    <thead>
                                        <tr>
                                            <th class="border px-4 py-2 ">No</th>
                                            <th class="border px-4 py-2 ">Time</th>
                                            <th class="border px-4 py-2 ">Name</th>
                                            <th class="border px-4 py-2 ">Text</th>
                                            <th class="border px-4 py-2 ">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="betting_info_table">
                                        <% for(let i=0; i<bettinginfo.length; i++) { %>
                                            <tr>
                                                <td class="border px-4 py-2 row_num">
                                                    <%= i+1 %>
                                                </td>
                                                <td class="border px-4 py-2">
                                                    <input class="info_time" type="text" value="<%= bettinginfo[i].time %>" placeholder="Time" readonly/>
                                                </td>
                                                <td class="border px-4 py-2">
                                                    <input class="info_name" type="text" value="<%= bettinginfo[i].name %>" placeholder="Name"  readonly/>
                                                </td>
                                                <td class="border px-4 py-2">
                                                    <textarea class="info_text" placeholder="Description"  readonly><%= bettinginfo[i].text %></textarea>
                                                </td>
                                                <td class="border px-4 py-2">
                                                    <button type="button" class="Betting-Update">Update</button>
                                                    <button type="button" class="Betting-Delete">Delete</button>
                                                    <button type="button" class="Betting-Save hide">Save</button>
                                                    <button type="button" class="Betting-Cancel hide">Cancel</button>
                                                </td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                                <div class="row action-area">
                                    <button class="offset-lg-6 col-lg-3" type="button" id="betting_info_add">Add</button>
                                    <button class="col-lg-3" id="betting_info_save">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-6">
                        <div class="row">
                            <div class="col-lg-12 details order-2 order-lg-1">
                                <h3>Early Race Information</h3>
                                <div class="row action-area">
                                    <div class="col-lg-12 details order-2 order-lg-1">
                                        <label>Tip Source:</label>
                                        <input class="col-lg-8" id="tips_source" type="text" value="<%= resource['tip_source'] %>" placeholder="Tip Source"/>
                                    </div>
                                </div>
                                <table class="w-full table-auto bg-white full-width">
                                    <thead>
                                        <tr>
                                            <th class="border py-2">Race</th>
                                            <th class="border py-2">Selection</th>
                                            <th class="border py-2">Notes</th>
                                            <th class="border py-2">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tips_info_table">
                                        <% for(var i=0; i<tipsinfo.length; i++) { %>
                                            <tr>
                                                <td class="border py-2">
                                                    <input class="info_race" type="text" value="<%= tipsinfo[i].race %>" placeholder="Name"/>
                                                </td>
                                                <td class="border py-2">
                                                    <input class="info_selection" type="text" value="<%= tipsinfo[i].selection %>" placeholder="Selection"/>
                                                </td>
                                                <td class="border py-2">
                                                    <input class="info_notes" type="text" value="<%= tipsinfo[i].note %>" placeholder="Notes"/>
                                                </td>
                                                <td class="border py-2">
                                                    <button type="button" class="Tips-Info-Delete">Delete</button>
                                                </td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                                <div class="row action-area">
                                    <button class="offset-lg-3 col-lg-3" type="button" id="tips_info_clear">Clear</button>
                                    <button class="col-lg-3" type="button" id="tips_info_add">Add</button>
                                    <button class="col-lg-3" id="tips_info_save">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-7">
                        <div class="row">
                            <div class="col-lg-12 details order-2 order-lg-1">
                                <h3>Odds Information</h3>
                                <table class="w-full table-auto bg-white full-width long-table">
                                    <thead>
                                        <tr>
                                            <th class="border py-2">Date</th>
                                            <th class="border py-2">Meeting</th>
                                            <th class="border py-2">Overnight</th>
                                            <th class="border py-2">OvernightUrl</th>
                                            <th class="border py-2">Morning</th>
                                            <th class="border py-2">MorningUrl</th>
                                            <th class="border py-2">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="odds_info_table">
                                        <% for(var i=0; i<oddsinfo.length; i++) { %>
                                            <tr>
                                                <td class="border py-2">
                                                    <input class="info_date" type="text" value="<%= oddsinfo[i].date %>" placeholder="Date"/>
                                                </td>
                                                <td class="border py-2">
                                                    <input class="info_meeting" type="text" value="<%= oddsinfo[i].meeting %>" placeholder="Meeting"/>
                                                </td>
                                                <td class="border py-2">
                                                    <input class="info_overnight" type="text" value="<%= oddsinfo[i].overnight %>" placeholder="Overnight"/>
                                                </td>
                                                <td class="border py-2">
                                                    <select class="info_overnighturl">
                                                        <option value="" <%= oddsinfo[i].overnighturl == '' ? 'selected' : '' %>>None</option>
                                                        <% for(var j=0; j<excelList.length; j++) { %>
                                                            <option class = "<%= excelList[j] %>" value="<%= excelList[j] %>" <%= oddsinfo[i].overnighturl == excelList[j] ? 'selected' : '' %>><%= excelList[j] %></option>
                                                        <% } %>
                                                    </select>
                                                </td>
                                                <td class="border py-2">
                                                    <input class="info_morning" type="text" value="<%= oddsinfo[i].morning %>" placeholder="Morning"/>
                                                </td>
                                                <td class="border py-2">
                                                    <select class="info_morningurl">
                                                        <option value="" <%= oddsinfo[i].morningurl == '' ? 'selected' : '' %>>None</option>
                                                        <% for(var j=0; j<excelList.length; j++) { %>
                                                            <option class = "<%= excelList[j] %>" value="<%= excelList[j] %>" <%= oddsinfo[i].morningurl == excelList[j] ? 'selected' : '' %>><%= excelList[j] %></option>
                                                        <% } %>
                                                    </select>
                                                </td>
                                                <td class="border py-2">
                                                    <button type="button" class="Odds-Info-Delete">Delete</button>
                                                </td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                                <div class="row action-area">
                                    <button class="offset-lg-3 col-lg-3" type="button" id="odds_info_clear">Clear</button>
                                    <button class="col-lg-3" type="button" id="odds_info_add">Add</button>
                                    <button class="col-lg-3" id="odds_info_save">Save</button>
                                </div>
                                <div class="row action-area">
                                    <h4 class="col-lg-10">Upload List:</h4>
                                    <div class="col-lg-12 details order-2 order-lg-1">
                                        <table class="w-full table-auto bg-white full-width">
                                            <thead>
                                                <tr>
                                                    <th class="border py-2">File Name</th>
                                                    <th class="border py-2">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody id="odds_file_table">
                                                <% for(var i=0; i<excelList.length; i++) { %>
                                                    <tr>
                                                        <td class="border py-2 Odd-File-Name"><%= excelList[i] %></td> 
                                                        <td class="border py-2">
                                                            <button type="button" class="Odd-File-Delete">Delete</button>
                                                        </td>
                                                    </tr>
                                                <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-lg-12 details order-2 order-lg-1">
                                        <input class="col-lg-3" type="file" name="file" id="odd_file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                                        <button class="col-lg-3" type="button" id="odd_file_upload_button">Upload</button>
                                        <button class="offset-lg-3 col-lg-2" type="button" id="odd_file_clear_button">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    var join_events = [];
</script>
<!-- </div>
</section> -->