<section class="sp_panel">
    <div class="container">
        <div class="row content">
            <iframe id="stream_preview" src="<%= resource['stream_url']%>" width="100%" height="600px" frameborder="0" scrolling="no" allow="autoplay" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen>
            </iframe>
        </div>

        <div class="row content">
            <div class="col-lg-6">
                <table class="w-full table-auto bg-white tbl-full-width">
                    <thead>
                      <tr>
                        <th class="border px-4 py-2 text-left">No</th>
                        <th class="border px-4 py-2 text-left" id="cur_race_title"><%= resource['cur_race_time'] + '' + resource['cur_race_name']%></th>
                        <th class="border px-4 py-2 text-left">Projected SP</th>
                      </tr>
                    </thead>
                    <tbody id="cur_race_info_table">
                        <% for(var i=0; i<curRaceData.length; i++) { %>
                            <tr>
                                <td class="border px-4 py-2 row_num">
                                    <%= i+1 %>
                                </td>
                                <td class="border px-4 py-2">
                                    <%= curRaceData[i].name %>
                                <td class="border px-4 py-2">
                                    <%= curRaceData[i].sp %>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6">
                <table class="w-full table-auto bg-white tbl-full-width">
                    <thead>
                      <tr>
                        <th class="border px-4 py-2 text-left">No</th>
                        <th class="border px-4 py-2 text-left" id="next_race_title"><%= resource['next_race_time'] + '' + resource['next_race_name']%></th>
                        <th class="border px-4 py-2 text-left">Projected SP</th>
                      </tr>
                    </thead>
                    <tbody id="next_race_info_table">
                        <% for(var i=0; i<nextRaceData.length; i++) { %>
                            <tr>
                                <td class="border px-4 py-2 row_num">
                                    <%= i+1 %>
                                </td>
                                <td class="border px-4 py-2">
                                    <%= nextRaceData[i].name %>
                                <td class="border px-4 py-2">
                                    <%= nextRaceData[i].sp %>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<section class="bet_info_panel">
    <div class="container">
        <div class="row content">
            <div class="panel_title">
                LIVE BETTING INFORMATION
            </div>
            <div class="panel_content">
                <div class="bet_info_item">
                    <p>
                        4.28 Valparaiso Early local support for newcomeer MARCHANDO VOY in race 2, available at 33/1, looking to go off closer to 7/1.
                    </p>
                </div>
                <div class="bet_info_item">
                    <p>
                        4.28 Valparaiso Early local support for newcomeer MARCHANDO VOY in race 2, available at 33/1, looking to go off closer to 7/1.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="live_result_panel">
    <div class="container">
        <div class="row content">
            <div class="panel_title">
                LIVE RESULT
            </div>
            <div class="panel_content">
                <div class="live_result_item">
                    <p>
                        4.28 Valparaiso Early local support for newcomeer MARCHANDO VOY in race 2, available at 33/1, looking to go off closer to 7/1.
                    </p>
                </div>
                <div class="live_result_item">
                    <p>
                        4.28 Valparaiso Early local support for newcomeer MARCHANDO VOY in race 2, available at 33/1, looking to go off closer to 7/1.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    var join_events = ['cur_race', 'stream_url', 'next_race'];
</script>